@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  .top-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 80px 15px 80px;
    min-height: 65px;
    &__language{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .header-container{
    background: #BE1E2D url("../../assets/img/header/backheader.png") -20% no-repeat;
    min-height: calc(100vh - 140px);
    margin: 0 80px ;
    &__rope{
      position: absolute;
      top: 100%;
      right: 0;
      transform: translate(0,-90%);
    }
    &__circle{
      position: absolute;
      top: -5%;
      left: 0;
    }
    &__body{
      position: absolute;
      width: 47%;
      left: 50%;
      transform: translate(-50%,0%);
      bottom: 0;
      z-index: 20;
    }
    &__o{
      z-index: 10;
      position: absolute;
      top: 14%;
      left: 35%;
    }
    &__r{
      z-index: 10;
      position: absolute;
      top: 46.5%;
      left: 29.5%;
    }
    &__m{
      z-index: 30;
      position: absolute;
      bottom: 4%;
      left: 40%;
    }
  }
}
.nav{
  position: absolute;
  top: 32%;
  right: 13%;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
  text-align: justify;
  color: #fff;
  &__ul{
    list-style-type: none;
  }
  &__li{
    margin: 40px 0;
    font-size: 24px;
    text-transform: uppercase;
  }
}







