<header class="header">

  <div class="top-panel">
    <div class="top-panel__logo"><img src="/assets/img/header/logo.svg" alt="image"></div>
    <div class="top-panel__menu">
      <div class="top-panel__language">
        <div class="top-panel__eng _inactive-language">ENG</div>
        <div class="top-panel__rus _active-language">RU</div>
      </div>
      <div class="top-panel__r"><img src="/assets/img/header/R.svg" alt="image"></div>
    </div>
  </div>
  <div class="header-container">
    <div class="header-container__main-img">
      <img src="/assets/img/header/body.png" alt="image" class="header-container__body">
      <img src="/assets/img/header/O.png" alt="image" class="header-container__o">
      <img src="/assets/img/header/R.png" alt="image" class="header-container__r">
      <img src="/assets/img/header/M.png" alt="image" class="header-container__m">
      <img src="/assets/img/header/down.png" alt="image" class="header-container__down">
    </div>
    <div class="header-container__circle"><img src="/assets/img/header/circle.png" alt="image"></div>
    <div class="header-container__rope"><img src="/assets/img/header/rope.png" alt="image"></div>
    <nav class="nav">
      <ul class="nav__ul">
        <li class="nav__li">Главная</li>
        <li class="nav__li">Кто мы?</li>
        <li class="nav__li">Ключевые партнёры</li>
        <li class="nav__li">О нас</li>
      </ul>
    </nav>
  </div>
</header>
