<header class="header" id="header">
    <img alt="" class="navigation" src="/assets/img/header/01.png">
    <div class="top-panel">
        <div class="top-panel__logo"><img alt="image" src="/assets/img/header/logo.svg"></div>
        <div class="top-panel__menu">
            <ul class="top-panel__language">
                <li class="top-panel__eng {{eng}}" (click)="changeLanguageToEnglish()">ENG</li>
                <li class="top-panel__rus {{rus}}" (click)="changeLanguageToRussian()">RU</li>
            </ul>
            <div class="top-panel__r"><img alt="image" src="/assets/img/header/R.svg"></div>
        </div>
    </div>
    <div class="header-container">
        <div class="header-container__main-img">
            <img alt="image" class="header-container__body" src="/assets/img/header/body.png">
            <img alt="image" class="header-container__o" src="/assets/img/header/O.png">
            <img alt="image" class="header-container__r" src="/assets/img/header/R.png">
            <img alt="image" class="header-container__m" src="/assets/img/header/M.png">
            <img alt="image" class="header-container__down" src="/assets/img/header/down.png">
        </div>
        <div class="header-container__circle"><img alt="image" src="/assets/img/header/circle.png"></div>
        <div class="header-container__rope"><img alt="image" src="/assets/img/header/rope.png"></div>
        <nav class="nav">
            <ul class="nav__ul">
                <a class="nav__link" href="#header">
                    <li class="nav__li">{{'menu.main' | transloco}}</li>
                </a>
                <a class="nav__link" href="#main">
                    <li class="nav__li">{{'menu.who' | transloco}}</li>
                </a>
                <a class="nav__link" href="#partners">
                    <li class="nav__li">{{'menu.partners' | transloco}}</li>
                </a>
                <a class="nav__link" href="#contacts">
                    <li class="nav__li">{{'menu.aboutUs' | transloco}}</li>
                </a>
            </ul>
        </nav>
    </div>
</header>
