<div class="modal__fade" >
    <div class="modal__window">
        <button class="modal__close" (click)="toggleModal()">X</button>
        <form action="" class="modal__form" [formGroup]="analysisForm" (ngSubmit)="onSubmit()">
            <h1 class="modal__h1">Заполните форму</h1>
            <input type="text" placeholder="Ваше имя" name="name" class="modal__input" formControlName="name"
            >
            <span *ngIf="submitted && analysisForm.controls['name'].errors">Поле обязательно к заполнению</span>
            <input type="text" placeholder="Название компании" name="nameCompany" class="modal__input"
                   formControlName="company">
            <span *ngIf="submitted && analysisForm.controls['company'].errors">Поле обязательно к заполнению</span>
            <input type="text" placeholder="Сфера деятельности" name="object" class="modal__input"
                   formControlName="work" >
            <span *ngIf="submitted && analysisForm.controls['work'].errors">Поле обязательно к заполнению</span>
            <input type="text" placeholder="Город" name="city" class="modal__input"
                   formControlName="city" >
            <span *ngIf="submitted && analysisForm.controls['city'].errors">Поле обязательно к заполнению</span>
            <input type="text" placeholder="Номер телефона" name="phone" class="modal__input"
                   formControlName="telephone" mask="(000) 000 00-00">
            <span *ngIf="submitted && analysisForm.controls['telephone'].errors" >Поле обязательно к заполнению</span>
            <input type="email" placeholder="Почта" name="mail" class="modal__input"
                   formControlName="mail" ngModel [email]="true">
            <span *ngIf="submitted && analysisForm.controls['mail'].errors" >Поле обязательно к заполнению</span>
            <input type="submit" value="Отправить" class="modal__submit">
        </form>
    </div>
</div>
