<div class="contacts">
    <div class="contacts__container">
        <div class="contacts__information">
            <h1 class="contacts__title">Наша сила - ваше преимущество</h1>
            <img src="/assets/img/contacts/line.png" alt="" class="contacts__line">
            <p class="contacts__header-desc"><b>Адрес:</b> г. Челябинск, ул. Каслинская, 32</p>
            <p class="contacts__header-desc">Работаем с <b>9.00 до 18.00</b></p>
            <div class="contacts__ul">
                <p class="contacts__li"><img src="/assets/img/contacts/mail.png" alt="" class="contacts__li-img">rise-orm@mail.ru</p>
                <p class="contacts__li"><img src="/assets/img/contacts/phone.png" alt="" class="contacts__li-img">Руководитель отдела продаж: +7 (996) 235-99-19</p>
            </div>
        </div>
        <img src="/assets/img/contacts/r.png" alt="" class="contacts__r">
    </div>
    <div class="contacts__buttons">
        <div class="contacts__container">
            <button class="contacts__button">Получить</button>
            <p class="contacts__description">Получить коммерческое предложение уже <b>через 5 минут</b></p>
        </div>
        <div class="contacts__container">
            <button class="contacts__button">Получить</button>
            <p class="contacts__description _desc-right">Получить <b>бесплатный</b> анализ репутации вашей компании в течение 3 часов</p>
        </div>
    </div>
</div>