<div class="contacts" id="contacts">
    <div class="contacts__container">
        <div class="contacts__information">
            <h1 class="contacts__title">Наша сила - ваше преимущество</h1>
            <img alt="" class="contacts__line" src="/assets/img/contacts/line.png">
            <p class="contacts__header-desc"><b>Адрес:</b> г. Челябинск, ул. Каслинская, 32</p>
            <p class="contacts__header-desc">Работаем с <b>9.00 до 18.00</b></p>
            <div class="contacts__ul">
                <p class="contacts__li"><img alt="" class="contacts__li-img" src="/assets/img/contacts/mail.png">info@rise-orm.com
                </p>
                <p class="contacts__li"><img alt="" class="contacts__li-img" src="/assets/img/contacts/phone.png">Руководитель
                    отдела продаж: +7 (999) 589-37-92</p>
            </div>
        </div>
        <img alt="" class="contacts__r" src="/assets/img/contacts/r.png">
    </div>
    <div class="contacts__buttons">
        <div class="contacts__container _container-button">
            <button (click)="toggleBusinessModal()" class="contacts__button">Получить</button>
            <p class="contacts__description">Получить коммерческое предложение уже <b>через 5 минут</b></p>
        </div>
        <div class="contacts__container _container-button">
            <button (click)="toggleAnalysisModal()" class="contacts__button">Получить</button>
            <p class="contacts__description _desc-right">Получить <b>бесплатный</b> анализ репутации вашей компании в
                течение 3 часов</p>
        </div>
    </div>
    <img alt="" class="contacts__4" src="/assets/img/contacts/4.png">
    <ul class="sidebar">
        <a class="sidebar__link" href="#header">
            <li class="sidebar__li">Главная</li>
        </a>
        <a class="sidebar__link" href="#main">
            <li class="sidebar__li">Кто мы?</li>
        </a>
        <a class="sidebar__link" href="#partners">
            <li class="sidebar__li">Партнёры</li>
        </a>
        <a class="sidebar__link" href="#contacts">
            <li class="sidebar__li _sidebar__active">О нас</li>
        </a>
    </ul>
</div>
