<div (click)="toggleModal()" class="modal__fade"></div>
<div class="modal__window">
    <button (click)="toggleModal()" class="modal__close"><img src="/assets/img/modalWindow/cross.svg" alt="cross" class="modal__cross"></button>
    <div *ngIf="(isSuccess)" class="modal__success">Заявка отправлена успешно!</div>
    <div *ngIf="(isFailed)" class="modal__failed">У-упс! Что-то пошло не так...</div>
    <form (ngSubmit)="onSubmit()" [formGroup]="businessForm" action="" class="modal__form">
        <h1 class="modal__h1">Заполните форму</h1>
        <input class="modal__input" formControlName="name" maxlength="30" minlength="4"
               name="name" placeholder="Ваше имя"
               type="text">
        <span *ngIf="submitted && businessForm.controls['name'].errors" class="modal__warning">Поле обязательно к заполнению</span>
        <input class="modal__input" formControlName="phone" mask="(000) 000 00-00"
               minlength="10" name="phone" placeholder="Номер телефона"
               type="text">
        <span *ngIf="submitted && businessForm.controls['phone'].errors" class="modal__warning">Поле обязательно к заполнению</span>
        <input [email]="true" class="modal__input" formControlName="email" maxlength="20"
               minlength="8" name="email" ngModel placeholder="Почта" type="email">
        <span *ngIf="submitted && businessForm.controls['email'].errors" class="modal__warning">Поле обязательно к заполнению</span>
        <input class="modal__submit" type="submit" value="Отправить">
    </form>
</div>
