<main class="main" id="main">
    <div class="main__img">
        <img src="/assets/img/main/picture.png" alt="image">
    </div>
    <div class="main__content">
        <p class="main__title"><span class="_red-text">Формируем, управляем и поддерживаем</span> Вашу репутацию при
            помощи нашей уникальной
            IT-системы, <span class="_red-text">гарантируя результат по договору.</span></p>
        <div class="main__description">
            <div class="main__container">
                <p class="main__title">Наша цель</p>
                <p class="main__information">помочь потребителю принять решение о покупке, сформировав доверие к
                    компании</p>
            </div>
            <div class="main__container">
                <img src="/assets/img/main/02.png" alt="image" class="main__number">
            </div>
        </div>
        <div class="main__buttons">
            <button id="main__analysis" (click)="toggleModal()">Получить</button>
            <div class="main__foot-description">
                <div class="main__container"><img src="/assets/img/main/roob.png" alt="image" class="main__roob"></div>
                <p class="main__foot-info">Получите <b>бесплатный анализ репутации</b> вашей компании на почту в течение
                    3 часов</p>
            </div>
        </div>
    </div>
    <ul class="sidebar">
        <a href="#header" class="sidebar__link">
            <li class="sidebar__li">Главная</li>
        </a>
        <a href="#main" class="sidebar__link">
            <li class="sidebar__li _sidebar__active">Кто мы?</li>
        </a>
        <a href="#partners" class="sidebar__link">
            <li class="sidebar__li">Партнёры</li>
        </a>
        <a href="#contacts" class="sidebar__link">
            <li class="sidebar__li">О нас</li>
        </a>
    </ul>
</main>

<app-modal-window *ngIf="toggle"></app-modal-window>

