<div class="partners">
    <h1 class="partners__title">Ключевые партнёры:</h1>
    <div class="partners__slider">
        <div class="slider__card">
            <img src="/assets/img/partners/logo1.png" alt="">
        </div>
        <div class="slider__card">
            <img src="/assets/img/partners/logo1.png" alt="">
        </div>
    </div>
    <div class="partners__send-mail">
        <p class="partners__subtitle">Получите коммерческое предложение на почту</p>
        <img src="/assets/img/partners/arrow.png" alt="" class="partners__arrow">
        <button class="partners__button">Получить</button>
    </div>
</div>