<div class="partners" id="partners">
    <h1 class="partners__title">Ключевые партнёры:</h1>
    <div class="partners__slider">
        <div class="slider__card">
            <img alt="" src="/assets/img/partners/logo1.png">
        </div>
        <div class="slider__card">
            <img alt="" src="/assets/img/partners/logo2.png">
        </div>
    </div>
    <div class="partners__send-mail">
        <p class="partners__subtitle">Получите коммерческое предложение на почту</p>
        <img alt="" class="partners__arrow" src="/assets/img/partners/arrow.png">
        <button (click)="toggleModal()" class="partners__button">Получить</button>
    </div>
    <img alt="" class="partners__03" src="/assets/img/partners/03.png">
    <ul class="sidebar">
        <a class="sidebar__link" href="#header">
            <li class="sidebar__li">Главная</li>
        </a>
        <a class="sidebar__link" href="#main">
            <li class="sidebar__li">Кто мы?</li>
        </a>
        <a class="sidebar__link" href="#partners">
            <li class="sidebar__li _sidebar__active">Партнёры</li>
        </a>
        <a class="sidebar__link" href="#contacts">
            <li class="sidebar__li">О нас</li>
        </a>
    </ul>
</div>
